---
import { skills } from "@cv";
import Amazon from "@/icons/skills/amazon.astro";
import Angular from "@/icons/skills/angular.astro";
import CSS from "@/icons/skills/css.astro";
import Docker from "@/icons/skills/docker.astro";
import Flutter from "@/icons/skills/flutter.astro";
import Git from "@/icons/skills/git.astro";
import Hibernate from "@/icons/skills/hibernate.astro";
import HTML from "@/icons/skills/html.astro";
import Java from "@/icons/skills/java.astro";
import JPA from "@/icons/skills/jpa.astro";
import JUnit from "@/icons/skills/junit.astro";
import Kotlin from "@/icons/skills/kotlin.astro";
import Ktor from "@/icons/skills/ktor.astro";
import Mockito from "@/icons/skills/mockito.astro";
import SQL from "@/icons/skills/sql.astro";
import Python from "@/icons/skills/python.astro";
import Section from "../Section.astro";
import SpringBoot from "@/icons/skills/spring.astro";
import Tailwind from "@/icons/skills/tailwind.astro";
import TypeScript from "@/icons/skills/typescript.astro";

const SKILLS_ICONS: Record<string, any> = {
  Amazon,
  Angular,
  CSS,
  Docker,
  Flutter,
  Git,
  Hibernate,
  HTML,
  Java,
  JPA,
  JUnit,
  Kotlin,
  Ktor,
  Mockito,
  SQL,
  Python,
  SpringBoot,
  Tailwind,
  TypeScript,
};
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName =
          name === "Spring Boot"
            ? "SpringBoot"
            : name === "Amazon Web Services"
              ? "Amazon"
              : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
